@model Internship_Template.Models.Entity.T_QUESTION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>T_QUESTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUESTIONNAIREID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUESTIONNAIREID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPTION1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPTION1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPTION2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPTION2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPTION3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPTION3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPTION4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPTION4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPTION5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPTION5)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
